/* 4x4 Offroaders Club Karachi */
/* www.offroadpakistan.com */

/* Layout */
body{margin:0;padding:0;text-align:center;background: #B2B2B2;
	background-image: url(/asset/tile.gif); background-repeat: repeat-x; }
body{font:12px/18px Tahoma, Verdana, sans-serif;color:#000}
#frame{width:auto;margin: 0 auto 0 auto;text-align:left;}
#content{margin: 0 auto 0 auto;}

#header{padding:5px;margin-bottom:16px;border:1px solid #ccc;border-top:none;background:#f8f8ff;padding-left:20px}

/* CSS to style the top navigation bar. */
/* Highlight Active Tab */ 
body#pictures li#mpictures a {background:B2B2B2;font-weight:bold;color:#f2f2f2}

/* Navigation for the Masses */
#globalnav{padding:0 2em;height:29px;background:#565656;margin-bottom:4px}
#globalnav ul {margin:0;padding:0;list-style-type:none;white-space:nowrap;font:11px/18px Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#819f10}
#globalnav ul li{display:inline;text-align:center}
#globalnav ul li a{float:left;display:block;padding:0.4em 1.2em 0.6em;text-decoration:none;color:#819f10}
#globalnav ul li a:hover{background-color:#9D9D9D;color:#f2f2f2}

/* Footer */
#footer{clear:both;background:#565656;padding:9px 16px 6px; margin-bottom:6px}
#footer p{margin:0;padding:0;font:11px/16px Tahoma,Verdana,Arial,Helvetica,sans-serif}
#footer p, #footer a{color:#f8f8ff}

/* Individual Image Archive */
#img{padding: 9px; margin-top:45px;
	border: 0px solid #555;
	background: #FFFFFF;}
    
#img:hover{background:#eef;border-color:#dadaba}
#img p{font:14px/22px Tahoma, Verdana, sans-serif;margin:0;}
#img p strong{text-decoration:underline}
#img p.posted{font:11px/15px Tahoma}
#img p.posted strong{text-decoration:none}
#img a {color:#84753F}
#img #botnav{float:right}


/* General Tag Soup */
a, a:link{color:#00473F;text-decoration:none}
a:visited{color:#CC9966}
a:hover{color:#CC3300;text-decoration:underline}
img{border:none;margin:0;padding:0}

h2, h2 a:link{font:bold 18px/24px Tahoma, Verdana, sans-serif;margin:10px 0 0 0;padding:0;color:#00473f}
h3, h3 a:link {font:bold 12px/19px Tahoma, Verdana, sans-serif;margin:0; padding:0;color:#00554B;}

em{font-weight:normal;font-style:normal;color:#500000}
p.small{margin:-6px 0 6px 0;padding:0 13px;font-size:9px;color:#500000}
p.small a, p.small a:link {color:#500000}
p.small a:visited{color:#500000}
p.small a:hover{color:#A00000;text-decoration:none}
p.small:hover {color:#A00000}

#comments {width:90%;margin-top:36px}

/* Your Comments */
.comment-entry{padding:5px;margin:0 0 16px 0;border:1px solid #ccc;background:#e3e3f8}
.comment-entry:hover{background:#eef;border-color:#dadaba} /* Use JavaScript to trigger :focus behavior */
.comment-entry p{background:#e3e3f8 padding:2.5px 7px;margin:0}
.comment-entry p.name{background:#f5f5dc;padding:0 7px}
.comment-entry p.posted{background:#f5f5dc;padding:0 7px;font-size:9px;line-height:14px;color:#999;text-transform:uppercase}
.comment-entry:hover p {background:#f8f8ff}
.comment-entry:hover p.name, #comment-entry:hover p.posted {background:#f1f1d1}

/* Enter Your Comment Box */
#comment-box{background:#e3e3f8;border:1px solid #e6e6e6;padding:9px;margin-top:14px}
#comment-box h2{padding:0 0 0 1px;margin:0}
#comment-box p.small{padding:0 0 0 1px}
#comment-box p {padding:0 0 0 6px}
#comment-box span{display:block;padding:2px 6px;margin:0;background:#e3e3f8;color:#00473f;border:1px solid #e6e6e6;border-width:1px 0}
#comment-box label{float:left;width:160px}
#comment-box .submit label{float:none;width:auto;display:inline}
input, textarea {font: 11px/17px Verdana, Tahoma, Arial, sans-serif;border: solid 1px #ddd;background:#eaeaf0;}
textarea {width:99.5%}
input:focus, textarea:focus {border: solid 1px #ccc;background:#eaeaf0;}
#comment-box span:hover, #comment-box:hover{border-color:#dadaba}
input.button {cursor:pointer}

#nav {position:absolute;top:80px;right:0}
#nav img {display:block}

/*
a, a:link{color:#00473F;text-decoration:none}
a:visited{color:#CC9966}
a:hover{color:#CC3300;text-decoration:underline}
p{color:#333333;font:11px/18px;margin:10px 0 0 0}
h1{font:bold 14px Verdana,Helvetica,Arial,sans-serif;color:#565656;margin:0 0 5px 0;}
h2{font:bold 12px Verdana,Helvetica,Arial,sans-serif;color:#565656;margin:0 0 0 0;}
h3{font:bold 12px Verdana,Helvetica,Arial,sans-serif;color:#565656;margin-bottom:5px}
h5{font:bold 11px Verdana,Helvetica,Arial,sans-serif;color:#485E29;margin:10px 0 0 0}