---
import CategoryListing from "@components/ui/CategoryListing.astro";
import GalleryListing from "@components/ui/GalleryListing.astro";
---

<p class="text-xs text-gray-700 mb-4">
    You are at the photo gallery of the 4x4 Offroaders Club Karachi. The
    pictures are sorted in the following galleries:
</p>

<h3>Picture Galleries</h3>
<GalleryListing />

<h3>Articles</h3>
<CategoryListing />

