---
import CategoryListing from "@components/ui/CategoryListing.astro";
import GalleryListing from "@components/ui/GalleryListing.astro";
---

<p class="text-xs text-gray-700 mb-4">4x4 Offroaders Club Karachi.</p>

<h3>Articles</h3>
<CategoryListing />

<h3>Picture Galleries</h3>
<GalleryListing />
